@media (min-width:1025px){
	a.nav-link{
		margin: 0 12px;
	}
	nav li:hover a.nav-link{
		color:#fff;
		font-weight: bold;
		text-decoration: none;
	}
	nav li:hover a.nav-link span:first-child:after{
		top:0px;
		right:0px;
		opacity:1
	}
	nav li:hover a.nav-link span:last-child:after{
		bottom:0px;
		left:0px;
		opacity:1
	}
}
@media (min-width:992px) and (max-width:1024px){
	a.nav-link {
    	width: 12vw;
	}
}
@media screen and (min-width: 768px){
	.info-sv{
		padding-left:25%;
	}
}